	body {
		font-family: helvetica, sans-serif;
	}

	@font-face {
		font-family: 'icons';
		src: url('icons.ttf')  format('truetype');
	}

	div, input {
		box-sizing: border-box;
	}

	.Container {
	  position:fixed;
	  overflow:scroll;
		 width: 100%;
    height: 100%;
    margin-top:-8px;
    margin-left:-8px;
		padding: 35px 0;
		padding-top:0px;
		background: -webkit-linear-gradient(left,#005b96, #b3cde0 50%, #005b96);
	}

	.LandingForm {
		margin: auto;
		width: 1500;
		background:-webkit-linear-gradient(45deg,#F0AB00, #FFE6AA 50%, #F0AB00);
		padding-bottom:40;
	}

#LandingTopHead{
		top: 0px;
	width:100%;
	height: 44px;
    		line-height: 44px;
    		padding-left: 30px;
    		font-size: 20px;
    		background:  325px center no-repeat, -webkit-linear-gradient(top, rgb(253,253,253), rgb(198,203,199));
	}
    .LandingLogo{
        width:320px;
        height:44px;
        position:absolute;
    }
	.LandingHeader {
		height: 44px;
		line-height: 44px;
		padding-left: 30px;
		font-size: 20px;
		background:  325px center no-repeat, -webkit-linear-gradient(top, rgb(253,253,253), rgb(198,203,199));
	}

	form {
		margin: 0 31px;

	}

	.LandingButton {
		float: right;
		width: 134px; height: 38px;
		border: 1px solid #005b96;
		background:  15px center no-repeat, -webkit-linear-gradient(top, #03396c, #005b96);
		font-weight: bold;
		color: white;
		text-align: right;
		margin-top:26px;
		padding-right: 42px;
	}

	.LandingButton:active {
		box-shadow: inset 0 -3 5px rgba(0,0,0,.5);
		background: -webkit-linear-gradient(top, #011f4b, #03396c);
	}
	.error{
        text-align:center;
    	font-size:32px;
    	color:Red;
    }
    table {
    border-collapse: collapse;
    width: 80%;
    margin-top:15;
    margin-left:130;
    margin-bottom:10


}

th, td {
    text-align: left;
    padding: 5px;
}
tr:nth-child(odd){background-color: #b3cde0}
tr:nth-child(even){background-color: #f2f2f2}

    #LandingBotButtons a {
       margin-left:1110;
       margin-right: -1114px;
       width: 134px; height: 50px;
       border: 1px solid #005b96;
       background:   -webkit-linear-gradient(top, #03396c, #005b96);
       font-weight: bold;
       color: white;
       text-align: center;
       padding-left: 20px;
       padding-right: 20px;
       padding-top:2px;
       padding-bottom:2px;
       text-decoration:none;
                }

    #LandingBotButtons a:active {
    		box-shadow: inset 0 -3 5px rgba(0,0,0,.5);
    		background: -webkit-linear-gradient(top, #011f4b, #03396c);
    	}

    	#LandingTopHead a{
       float:right;
       width: 134px;
       height: 44px;
       border-left:1px solid #005b96;
       background:  325px center no-repeat, -webkit-linear-gradient(top, rgb(253,253,253), rgb(198,203,199));
       font-weight: bold;
       color: black;
       text-align: center;
       padding-left: 20px;
       padding-right: 20px;

       text-decoration:none;
                }
   #LandingTopHead a:active {
    		box-shadow: inset 0 -3 5px rgba(0,0,0,.5);
    		background: -webkit-linear-gradient(top, #a8a8a8, #939393);
    	}
